body {
background-image: url("background.webp");
background-size: cover;
color:whitesmoke;

 }

/* Biodata table */
 table, td, th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.20);

}
td{
  text-align: center;
  font-size: 25px;
}


/* Biodata table end */

/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #034140;
   
  }
  li {
    float: left;
    font-family: 'Inter', sans-serif;
  }
  li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #0d1a0a;
  }
  li a.active {
    color: white;
    background-color:#00696d;
  }

  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  /* Navbar end */
p{
  font-family: 'Inter', sans-serif;
    text-align: justify;
    text-justify: inter-word;
}
h2{
    font-family: 'Domine', serif;
}

.img{
    border: 4px solid black;
    height: 400px;
    width: 600px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}
/* .adds margin to section */
.main
{
    margin-left: 20px;
    margin-right: 20px;
}
a {
    color: whitesmoke;
  
}
a.hyper:hover{
    color: burlywood;
}
h1{
  font-size: 3rem;
}
.h1
{
  background-color: rgba(0, 0, 0, 0.25);
}

/* Makes image responsive */
@media only screen and (max-width: 600px) {
  .img{
    border: 4px solid black;
    height: auto;
    width: 100%;
}
}
